<% if user_signed_in? %>
	<p><%= current_user.email.split("@")[0] %>様, hello &nbsp;
	<%= link_to "logout", destroy_user_session_path, method: :delete %></p>
<% else %>

<% end %>
<p>	<%= link_to "Home", root_path %></p>
<hr size="2px">