<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    
<style>
p {
            color: darkgreen;
            text-align: center;
            line-height:200%;
            /*
			text-decoration: line-through;
			*/

            font-size: 48px;
            font-weight: bold;
            font-family: 'Nanum Pen Script', cursive;
}
</style>

<font size="10" color="red">impossible</font> <br />
<p>
	비밀을 풀어야 쓸 수 있단다. 개킹받쥬?
</p>

<%= link_to "back", posts_index_path %>