<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    
<style>
	@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Jua&family=Nanum+Pen+Script&display=swap');
p {
            color: darksalmon;
            text-align: center;
            line-height:200%;
            /*
			text-decoration: line-through;
			*/

            font-size: 48px;
            font-weight: bold;
            font-family: 'Black And White Picture', sans-serif;
}
</style>

<p>
	맘대로 못 지웁니다~
</p>

<%= link_to "back", posts_index_path %>