

<form action="/posts/update/<%= @post.id %>" method="POST">
	<input name="title" type="text" value="<%= @post.title %>">
	<br />
	<textarea name="content"><%= @post.content %></textarea>
	<button>
		Edit
	</button>
</form>

<p>
	<%= link_to "back", :back %>	
</p>