
<form action="/posts/create" method="POST">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input name="title" type="text">
	<br />
	<textarea name="content"></textarea>
	<button>
		submit
	</button>
</form>
<p>
	<%= link_to "back", :back %>	
</p>
